body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(11, 244, 205);
  }

  
  nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
  background-color: #200fd1;
  }
  .input-field label {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  background-color: rgb(11, 244, 205);
  
  }
  
  .input-field input[type=text]:focus + label {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  background-color: rgb(11, 244, 205);
  
  }
  
  .input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 0 0 #000;
  font-size: 1.4rem;
  background-color: rgb(11, 244, 205);
  }
  
  input[type=text]:not(.browser-default) {
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  background-color: rgb(11, 244, 205);
  }
  input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(0, 0, 0);
  -webkit-box-shadow: 0 1px 0 0 rgb(0, 0, 0);
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
  font-size: 1.4rem;
  background-color: rgb(11, 244, 205);
  }
  input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  background-color: rgb(11, 244, 205);
  }
  
  .contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: rgb(11, 244, 205);
  
  }

  .mensaje {
  text-align: center;
  font-size: 2rem;
  background-color: rgb(11, 244, 205);
  }
  .buscador i {
  width: 100%;
  background-color: rgb(11, 244, 205);
  }
  .error {
  padding: 1rem!important;
  color:white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
  background-color: rgb(11, 244, 205);
  }
  .card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
  background-color: rgb(11, 244, 205);
  }
  .card-panel p {
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(11, 244, 205);
  }
  .temperatura {
  font-size: 4rem;
  background-color: rgb(11, 244, 205);
  }
  .Humedad {
    font-size: 4rem;
    background-color: rgb(11, 244, 205);
    }
  .seleccion {
    font-size: large;
    background-color: rgb(11, 244, 205);
  }
  .temperatura span {
  font-size: 1rem;
  vertical-align: super;
  background-color: rgb(11, 244, 205);
  }
  
  .btn-block {
  display: block!important;
  }
  .error {
  padding: 1rem!important;
  text-align: center!important;
  color: rgb(2, 0, 0)!important;
  }
